/* <div class="uno dos"> un div puede tener más de dos clases*/
/* .body{
    background-color: ;
    width: 80%;
    margin: auto;
} Esto sirve para que el contenido ocupe el 80% de la pagina*/
/* .flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */