nav{
    background-color:deepskyblue;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
}
li a{
    padding: 5px;
    text-decoration: none;
    color: white;
}
input{
    height: 30px;
    align-self: center;
    margin-right: 20px;
    border-radius: 7px;
}
h1{
    color: white;
}
@media (min-width: 1024px){
    #hamburger{
        display: none;
    }
}
@media (max-width: 1024px){
    li a{
        display: none;
    }
    input{
        align-content: center;
    }
}
@media (max-width: 768px){
    input{display: none;}
}
button{
    margin-left: 47%;
    margin-top: 20px;
}
.no{
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    text-align: center;
}
