<%- include("header") %>

    <from action="/persona" method="post">
        <label for="ID">ID:</label>
        <input type="text" name="ID" id="id">
        <label for="usuari_id">Usuari id:</label>
        <input type="text" name="usuari_id" id="usuari_id">
        <label for="producte_id">Producte_id:</label>
        <input type="text" name="producte_id" id="producte_id">
        <button type="submit">Enviar</button>
    <form>

<%- include("footer") %>