<%- include("header") %>

    <from action="/persona" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" name="Nombre" id="nombre">
        <label for="apellidos">Apellidos:</label>
        <input type="text" name="apellidos" id="apellidos">
        <button type="submit">Enviar</button>
    <form>

<%- include("footer") %>