<%- include("header") %>

    <from action="/persona" method="post">
        <label for="ID">ID</label>
        <input type="text" name="ID" id="id">
        <label for="nombre">Nom:</label>
        <input type="text" name="Nom" id="nom">
        <label for="apellidos">Preu:</label>
        <input type="text" name="Preu" id="preu">
        <button type="submit">Enviar</button>
    <form>

<%- include("footer") %>