
body{
    background-color: tomato;
}
.header{
    background-color: tomato;
}
.h1{
    font: small-caps 100%/200% serif;
}
.h2{
    font: small-caps 100%/200% serif;
}
.nav{
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    border: steelblue solid 1px;
    height: auto;
}
.ul{
    background-color: black;
    color: whitesmoke;
}
.main{
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    border: steelblue solid 1px;
    height: auto;
}