body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
}
.transition{
    margin: auto;
    border: 1.5px solid;
    transition: transform 500ms;
    text-align: center;
}
.transition:hover{
    transform: scale(1.05);
}